<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}} - Blog</title>
</head>
<body>
<nav>
  <a href="/">Main</a>
  <a href="/blog/">Blog</a>
  <a href="/about_me/">About me</a>
</nav>
<div id="main-area">
<div id="post-area">
<h1>{{post.title}}</h1>
<h5>{{post.hook_text}}</h5>
<p>by
    <a href="#">creator name(개발예정)</a>
</p>
<p>{{post.content}}</p>

    {% if post.file_upload %}
    <p>첨부파일:
        <a href="{{post.file_upload.url}}" role="button" download>{{post.get_file_name}}</a>
    </p>
    {% endif %}
<h4>{{post.created_at}}</h4>
<hr/>
<div>
    {% if post.head_image %}
        <img src="{{post.head_image.url}}" alt="{{post.title}} head_image">
    {% else %}
        <img src="https://picsum.photos/seed/{{post.id}}/800/200" alt="random_image">
    {% endif %}
</div>
</div>

<div id="comment-area">
<hr/>
<h3>여기에 댓글 작성합니다.</h3>
<hr/>
<h3>여기에 댓글 작성합니다.</h3>
<hr/>
<h3>여기에 댓글 작성합니다.</h3>
<hr/>
<h3>여기에 댓글 작성합니다.</h3>
<hr/>
<h3>...</h3>
</div>
</div>
</body>
</html>