<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<nav>
  <a href="/">Main</a>
  <a href="/blog/">Blog</a>
  <a href="/about_me/">About me</a>
</nav>

<hr/>
<div>
<h1>Blog</h1>
<hr/>
    <h4>Categories</h4>
    <ul>
        {% for category in categories %}
        <li>
            <a href="{{category.get_absolute_url}}">{{category}} ({{category.post_set.count}})</a>
        </li>
        {% endfor %}
        <li>
            <a href="/blog/category/no_category/">미분류 ({{category.post_set.count}})</a>
        </li>
    </ul>
</div>

<div id="main-area">
{% if post_list.exists %}
    {% for p in post_list %}
        <hr/>
        <h2><a href="{{p.get_absolute_url}}">{{p.title}}</a></h2>
        {% if p.hook_text %}
            <h3>{{p.hook_text}}</h3>
        {% endif %}
        {% if p.category %}
            <p>{{p.category}}</p>
        {% else %}
            <p>미분류</p>
        {% endif %}
        <p>
            <h4>created by <a href="#">{{p.author | upper}}</a></h4>
        </p>
        <p>{{p.content | truncatewords:90}}</p>
        <div>
            {% if p.head_image %}
                <img src="{{p.head_image.url}}" alt="{{p}} head_image">
            {% else %}
                <img src="https://picsum.photos/seed/{{p.id}}/800/200" alt="random_image">
            {% endif %}
        </div>
        <h4>Posted on {{p.created_at}}</h4>
    {% endfor %}
{% else %}
    <h3>아직 게시물이 없습니다.</h3>
{% endif %}
</div>
</body>
</html>